<!--foot start-->
<div style="height:120px;"></div>
<footer class="dbnr_main auto">
    <ul class="fix">
        <li>
            <a href="{:U('Index/index')}" title="">
                <img src="__FENXIAO__jfsd/images/bg7.png" alt="">
                <span>聚宝商城</span>
            </a>
        </li>
        <li>
            <a href="{:U('Order/index')}" title="">
                <img src="__FENXIAO__jfsd/images/bg8.png" alt="">
                <span>我的订单</span>
            </a>
        </li>
        <li>
            <a href="{:U('Flow/index')}" title="">
                <img src="__FENXIAO__jfsd/images/bg9.png" alt="">
                <span>购物车</span>
            </a>
        </li>
        <li>
            <a href="{:U('User/index')}" title="">
                <img src="__FENXIAO__jfsd/images/bg10.png" alt="">
                <span>个人中心</span>
            </a>
        </li>
    </ul>
</footer>
<!--footer end-->
