<!DOCTYPE html>
<html>

    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=640px, user-scalable=no">
        <title>个人中心</title>
        <!--[if lt IE 9]>
            <script src="__FENXIAO__jfsd/js/html5shiv.min.js"></script>
            <script src="__FENXIAO__jfsd/js/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="__FENXIAO__jfsd/css/common.css" />
        <link rel="stylesheet" href="__FENXIAO__jfsd/css/style.css" />
        <script src="__FENXIAO__jfsd/js/jquery-1.9.1.min.js"></script>
        <script src="__FENXIAO__jfsd/js/myjs.js"></script>
    </head>

    <body>
        <!--header end-->
        <section class="grzx_main auto">
            <div class="grzx_main_top">
                <include file="header" />
                <ul class="fix">
                    <li>
                        <a href="{:U('moneyLog')}" title="">
                            <img src="__FENXIAO__jfsd/images/bg4.png" alt="">
                            <span>佣金：{$user_info['fx_money']}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('interLog')}" title="">
                            <img src="__FENXIAO__jfsd/images/bg5.png" alt="">
                            <span>积分：{$user_info['fx_inter']}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('hongbao')}" title="">
                            <img src="__FENXIAO__jfsd/images/bg6.png" alt="">
                            <span>返利红包：{$user_info['fx_hb']}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="grzx_main_bottom">
                <ul class="fix">
                    <li>
                        <a href="{:U('fenxiao')}" title="">
                            <img src="__FENXIAO__jfsd/images/bg11.png" alt="">
                            <span>我的分销</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('caifu')}" title="">
                            <img src="__FENXIAO__jfsd/images/bg12.png" alt="">
                            <span>我的财富</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('zhuanMoney')}" title="">
                            <img src="__FENXIAO__jfsd/images/bg13.png" alt="">
                            <span>转币管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('collect')}" title="">
                            <img src="__FENXIAO__jfsd/images/bg14.png" alt="">
                            <span>我的收藏</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('moneyLog')}" title="">
                            <img src="__FENXIAO__jfsd/images/bg15.png" alt="">
                            <span>我的提现</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('address')}" title="">
                            <img src="__FENXIAO__jfsd/images/bg54.png" alt="">
                            <span>收货地址</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('tuiguang')}" title="">
                            <img src="__FENXIAO__jfsd/images/bg17.png" alt="">
                            <span>二维码</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('ranking')}" title="">
                            <img src="__FENXIAO__jfsd/images/bg18.png" alt="">
                            <span>排行榜</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:alert('二期开发项目');" title="">
                            <img src="__FENXIAO__jfsd/images/bg19.png" alt="">
                            <span>积分商城</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:alert('二期开发项目');" title="">
                            <img src="__FENXIAO__jfsd/images/bg20.png" alt="">
                            <span>一元购</span>
                        </a>
                    </li>
                    <li>
                        <a href="{:U('Home/Index/index')}" title="">
                            <img src="__FENXIAO__jfsd/images/bg21.png" alt="">
                            <span>秒杀现场</span>
                        </a>
                    </li>
                    <li>
                        <a href="/bbs/" title="">
                            <img src="__FENXIAO__jfsd/images/bg22.png" alt="">
                            <span>论坛</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <include file="footer" />
    </body>

</html>
