<!DOCTYPE html>
<html>

    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=640px, user-scalable=no">
        <title>个人中心</title>
        <!--[if lt IE 9]>
            <script src="__FENXIAO__jfsd/js/html5shiv.min.js"></script>
            <script src="__FENXIAO__jfsd/js/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="__FENXIAO__jfsd/css/common.css" />
        <link rel="stylesheet" href="__FENXIAO__jfsd/css/style.css" />
        <script src="__FENXIAO__jfsd/js/jquery-1.9.1.min.js"></script>
        <script src="__FENXIAO__jfsd/js/myjs.js"></script>
    </head>

    <body>
        <!--header end-->
        <section class="grzx_main auto">
            <div class="grzx_main_top">
                <include file="header" />
            </div>
            <div class="fxyj_main">
                <div class="fxyj_main_top">
                    <ol>
                        总收入：{$user_info['fx_count']}
                        <br /> 当前：{$user_info['fx_money']}，可提：{$user_info['fx_money']}
                    </ol>
                    <ul><a href="{:U('tixian')}" title="">提现</a></ul>
                </div>
                <div class="fxyj_main_bottom">
                    <ol class="fix">
                        <li><a href="javascript:void(0);" class="xz">分销佣金</a></li>
                        <li><a href="javascript:void(0);">佣金明细</a></li>
                    </ol>
                    <ul>
                        <volist name="lists" id="val">
                            <li class="fix">
                                <p>
                                    返现佣金：<em>￥{$val['money']}</em><br>
                                    返现状态：已返现<br>
                                    返现时间：{:date('Y/m/d H:i:s', $val['create_time'])}<br>
                                    订单编号：{$val['order_id']}<br>
                                    订单时间：{:date('Y/m/d H:i:s', $val['create_time'])}
                                </p>
                                <!-- <span>
                                    <img src="images/bg38.png" alt="">
                                    <em>情有独钟/85393140</em>
                                </span> -->
                            </li>
                        </volist>
                    </ul>
                    <ul style="display:none;">
                        <volist name="lists2" id="val">
                            <li class="fix">
                                <p>
                                    收支名称：{$val['title']}<br>
                                    收支金额：<em>￥{$val['money']}</em><br>
                                    当前余额：<em>￥{$val['at_money']}</em><br>
                                    明细说明：{$val['content']}<br>
                                    操作时间：{:date('Y/m/d H:i:s', $val['create_time'])}
                                </p>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
        </section>
        <script type="text/javascript">
            $(function(){
                var tabObj = $(".fxyj_main_bottom .fix li a");
                tabObj.each(function(index){
                    $(this).click(function(){
                        tabObj.removeClass("xz");
                        $(this).addClass("xz");
                        $(".fxyj_main_bottom ul").hide().eq(index).show();
                    })
                })
            })
        </script>
        <include file="footer" />
    </body>

</html>
