<!DOCTYPE html>
<html>

    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=640px, user-scalable=no">
        <title>资金转赠</title>
        <!--[if lt IE 9]>
            <script src="js/html5shiv.min.js"></script>
            <script src="js/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="__FENXIAO__jfsd/css/common.css" />
        <link rel="stylesheet" href="__FENXIAO__jfsd/css/style.css" />
        <script src="__FENXIAO__jfsd/js/jquery-1.9.1.min.js"></script>
        <script src="__FENXIAO__jfsd/js/myjs.js"></script>
    </head>

    <body>
        <!--header end-->
        <section class="xzshdz_main auto">
            <div class="xzshdz_main">
                <span><a href="{:U('User/zhuanInter')}">积分转赠</a></span>
                <span><a href="{:U('User/zhuanMoney')}" class="xz">资金转赠</a></span>
            </div>
            <ul>
                <li class="fix">
                    <p>累计数量：</p>
                    <span>{$user_info['fx_count']}</span>
                </li>
                <li class="fix">
                    <p>现有数量：</p>
                    <span id="nowmoney">{$user_info['fx_money']}</span>
                </li>
                <li class="fix">
                    <p>可用数量：</p>
                    <span id="myliveMoney" data-moneys="{$user_info['fx_money']}">{$user_info['fx_money']}</span>
                </li>
                <li class="fix">
                    <p>获赠人ID：</p>
                    <span>
                        <input type="number" class="wbk" id="userId" placeholder="点击确认后会提示昵称">
                    </span>
                </li>
                <li class="fix">
                    <p>转赠数量：</p>
                    <span>
                        <input type="number" class="wbk" id="moneysAmount" placeholder="最多转赠数量：{$user_info['fx_money']}">
                    </span>
                </li>
            </ul>
            <dl>
                <input type="button" name="button" id="btnBegin" value="确认转赠" class="btn" />
            </dl>
        </section>
        <include file="footer" />
        <script type="text/javascript">
            $('#btnBegin').bind('click', function () {
                $("#btnBegin").attr('disabled', true)
                var liveMoney = $('#myliveMoney').data('moneys');
                var userId = $('#userId').val();
                var moneysAmount = $('#moneysAmount').val();
                if (moneysAmount % 100 != 0  || moneysAmount == 0) {
                    alert('转赠失败,转赠数量必需能整除100');
                    $("#btnBegin").attr('disabled', false)
                    return false;
                }
                if (isNaN(userId) || isNaN(moneysAmount) || userId < 1 || moneysAmount <= 0) {
                    alert('获赠人ID或转赠数量填写错误!');
                    $("#btnBegin").attr('disabled', false)
                    return false;
                }
                if (userId == '{$user_info['user_id']}') {
                    alert('囧，自己不能赠送给自己。');
                    $("#btnBegin").attr('disabled', false)
                    return false;
                }
                if (parseFloat(liveMoney) < parseFloat(moneysAmount)) {
                    alert('转赠数量不能大于您的可用数量。');
                    $('#moneysAmount').focus();
                    $("#btnBegin").attr('disabled', false)
                    return false;
                }
                $.ajax({
                    url: "{:U('checkUser')}",
                    data: {uid: userId},
                    type: 'post',
                    dataType: 'json',
                    beforeSend: function() {
                        $("#btnBegin").attr('disabled', true);
                    },
                    success: function(msg) {
                        if (msg.status) {
                            if (confirm('确认转赠给' + msg.info)) {
                                $.ajax({
                                    data: {uid: userId, money: moneysAmount},
                                    type: 'post',
                                    dataType: 'json',
                                    success: function(rep) {
                                        if (rep.status) {
                                            alert(rep.info)
                                            window.location.reload()
                                        } else {
                                            $("#btnBegin").attr('disabled', false)
                                            alert(rep.info)
                                        }
                                    },
                                    error: function() {
                                        $("#btnBegin").attr('disabled', false)
                                        alert('网络异常...')
                                    }
                                })
                            } else {
                                $("#btnBegin").attr('disabled', false)
                            }
                        } else {
                            $("#btnBegin").attr('disabled', false)
                            alert(msg.info)
                        }
                    },
                    error: function() {
                        $("#btnBegin").attr('disabled', false)
                        alert('网络异常...')
                    }
                })
            });
        </script>


    </body>

</html>
