<style media="screen">
    .ms select {
        padding:0px 10px;height:24px;border:solid 1px #d2d2d2;margin-right:10px; background:#fafafa
    }
    .select {width:400px;}
    .text1{height:100px;}
</style>

<form action="" method="post">
<table width="900" border="0" cellspacing="0" cellpadding="0" class="table">
    <tr>
        <td class="td1" align="right">用户名：</td>
        <td class="ms">
            <input type="text" name="user_name" value="{$info['user_name']|default=''}" class="inputt input" />
        </td>
    </tr>
    <tr>
        <td align="right">头像：</td>
        <td class="upload-row">
            <img src="{$info['user_avatar']}" width="100" height="100" alt="" />
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">等级：</td>
        <td class="ms">
            <select class="select" name="fx_group">
                <volist name=":get_fx_group()" id="val">
                    <option value="{$key}" <eq name="key" value="$info['fx_group']">selected="selected"</eq>>{$val['name']}</option>
                </volist>
            </select>
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">手机号：</td>
        <td class="ms">
            <input type="text" name="mobile" value="{$info['mobile']|default=''}" class="inputt input" />
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">微信号：</td>
        <td class="ms">
            <input type="text" name="wechat_number" value="{$info['wechat_number']|default=''}" class="inputt input" />
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">上级UID：</td>
        <td class="ms">
            <input type="text" name="fx_sup" value="{$info['fx_sup']|default=0.00}" class="inputt input" />
        </td>
    </tr>
    <tr>
        <td colspan="2"><hr></td>
    </tr>
    <tr>
        <td class="td1" align="right">分销资金：</td>
        <td class="ms">
            <input type="text" value="{$info['fx_money']}" readonly="readonly" class="inputt input" />
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">分销总累计：</td>
        <td class="ms">
            <input type="text" value="{$info['fx_count']}" readonly="readonly" class="inputt input" />
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">分销总累计：</td>
        <td class="ms">
            <input type="text" value="{$info['fx_count']}" readonly="readonly" class="inputt input" />
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">累计已领红包数：</td>
        <td class="ms">
            <input type="text" value="{$info['fx_hb_lj']}" readonly="readonly" class="inputt input" />
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">可领领红包数：</td>
        <td class="ms">
            <input type="text" value="{$info['fx_hb']}" readonly="readonly" class="inputt input" />
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">总消费累计：</td>
        <td class="ms">
            <input type="text" value="{$info['fx_hb_zxf_lj']}" readonly="readonly" class="inputt input" />
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">已领取红包消费累计：</td>
        <td class="ms">
            <input type="text" value="{$info['fx_hb_ylqxf_lj']}" readonly="readonly" class="inputt input" />
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">未领取红包消费累计：</td>
        <td class="ms">
            <input type="text" value="{$info['fx_hb_wlqxf_lj']}" readonly="readonly" class="inputt input" />
        </td>
    </tr>

    <tr>
        <td class="td1" align="right">积分：</td>
        <td class="ms">
            <input type="text" value="{$info['fx_inter']|default=0.00}" readonly="readonly" class="inputt input" />
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">更新时间：</td>
        <td class="ms">
            <input type="text" value="{:date('Y-m-d H:i:s', $info['update_time'])}" readonly="readonly" class="inputt input" />
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
             <input type="hidden" name="user_id" value="{$info.user_id|default=''}">
             <input type="submit" class="tjanniu cr" value="提 交" /><input type="reset" class="czanniu cr" value="重 置" />
        </td>
    </tr>
</table>
</form>
