<!DOCTYPE html>
<html>

    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=640px, user-scalable=no">
        <title>网站首页</title>
        <!--[if lt IE 9]>
        <script src="__FENXIAO__jfsd/js/html5shiv.min.js"></script>
        <script src="__FENXIAO__jfsd/js/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="__FENXIAO__jfsd/css/common.css" />
        <link rel="stylesheet" href="__FENXIAO__jfsd/css/style.css" />
        <link rel="stylesheet" href="__FENXIAO__jfsd/css/swiper.min.css" />
        <script src="__FENXIAO__jfsd/js/jquery-1.9.1.min.js"></script>
        <script src="__FENXIAO__jfsd/js/myjs.js"></script>
        <script src="__FENXIAO__jfsd/js/swiper.min.js"></script>
        <script src="__FENXIAO__jfsd/js/jquery.SuperSlide.2.1.1.js"></script>
    </head>

    <body>
        <section class="index_banner auto">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="__FENXIAO__jfsd/images/banner1.jpg" width="640" height="340" alt=""></div>
                    <div class="swiper-slide"><img src="__FENXIAO__jfsd/images/banner2.jpg" width="640" height="340" alt=""></div>
                    <div class="swiper-slide"><img src="__FENXIAO__jfsd/images/banner1.jpg" width="640" height="340" alt=""></div>
                    <div class="swiper-slide"><img src="__FENXIAO__jfsd/images/banner2.jpg" width="640" height="340" alt=""></div>
                    <div class="swiper-slide"><img src="__FENXIAO__jfsd/images/banner1.jpg" width="640" height="340" alt=""></div>
                    <div class="swiper-slide"><img src="__FENXIAO__jfsd/images/banner2.jpg" width="640" height="340" alt=""></div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <script>
                var swiper = new Swiper('.swiper-container', {
                    pagination: '.swiper-pagination',
                    paginationClickable: true,
                    spaceBetween: 30,
                    autoplay: 3000,
                    loop: true,
                });
            </script>
        </section>
        <!--banner end-->
        <section class="index_main auto">
            <div class="index_main_top">
                <div class="index_main_top1">
                    <ul class="fix">
                        <li>
                            <p>
                                <a href="javascript:void(0);" class="showCateName"><img src="__FENXIAO__jfsd/images/bg25.png" alt=""></a>
                            </p>
                            <span><a href="javascript:void(0);" title="">商品分类</a></span>
                        </li>
                        <li>
                            <p>
                                <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg26.png" alt=""></a>
                            </p>
                            <span><a href="javascript:alert('完事开发中...')" title="">购物车</a></span>
                        </li>
                        <li>
                            <p>
                                <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg27.png" alt=""></a>
                            </p>
                            <span><a href="javascript:alert('完事开发中...')" title="">论坛</a></span>
                        </li>
                        <li>
                            <p>
                                <a href="{:U('User/index')}" title=""><img src="__FENXIAO__jfsd/images/bg28.png" alt=""></a>
                            </p>
                            <span><a href="{:U('User/index')}" title="">个人中心</a></span>
                        </li>
                        <li>
                            <p>
                                <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg29.png" alt=""></a>
                            </p>
                            <span><a href="javascript:alert('完事开发中...')" title="">一元购</a></span>
                        </li>
                        <li>
                            <p>
                                <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg30.png" alt=""></a>
                            </p>
                            <span><a href="javascript:alert('完事开发中...')" title="">积分商城</a></span>
                        </li>
                        <li>
                            <p>
                                <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg31.png" alt=""></a>
                            </p>
                            <span><a href="javascript:alert('完事开发中...')" title="">秒杀</a></span>
                        </li>
                        <li>
                            <p>
                                <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg32.png" alt=""></a>
                            </p>
                            <span><a href="javascript:alert('完事开发中...')" title="">拍卖</a></span>
                        </li>
                    </ul>
                </div>
                <div class="index_main_top2">
                    <div class="bd fix">
                        <ol class="fix"><img src="__FENXIAO__jfsd/images/bg34.png" alt=""> 聚宝快讯：</ol>
                        <ul class="infoList">
                            <li>热门1 <a href="#" title="">1买南红就找中华聚宝，您信得过的品牌！</a></li>
                            <li>热门2 <a href="#" title="">2买南红就找中华聚宝，您信得过的品牌！</a></li>
                            <li>热门3 <a href="#" title="">3买南红就找中华聚宝，您信得过的品牌！</a></li>
                        </ul>
                    </div>
                    <div class="bd fix">
                        <ol class="fix"><img src="__FENXIAO__jfsd/images/bg34.png" alt=""> 聚宝快讯：</ol>
                        <ul class="infoList">
                            <li>热门1 <a href="#" title="">1买南红就找中华聚宝，您信得过的品牌！</a></li>
                            <li>热门2 <a href="#" title="">2买南红就找中华聚宝，您信得过的品牌！</a></li>
                            <li>热门3 <a href="#" title="">3买南红就找中华聚宝，您信得过的品牌！</a></li>
                        </ul>
                    </div>
                    <script type="text/javascript">
                        jQuery(".index_main_top2").slide({
                            mainCell: ".bd ul",
                            autoPlay: true,
                            effect: "leftMarquee",
                            vis: 1,
                            interTime: 50,
                            trigger: "click"
                        });
                    </script>
                </div>
            </div>
            <div class="index_main_bottom">
                <ul class="fix">
                    <volist name="position_list" id="val">
                        <li>
                            <p>
                                <a href="{:U('product', array('id'=>$val['product_id']))}" title=""><img src="{:image($val['thumb'])}" alt=""></a>
                            </p>
                            <span>
                                <a href="{:U('product', array('id'=>$val['product_id']))}" title="{$val['product_name']}">{$val['product_name']}</a>
                                <em class="fix">
                                    <b>￥{$val['xian_price']}</b>
                                    <del>￥{$val['yuan_price']}</del>
                                </em>
                            </span>
                        </li>
                    </volist>
                </ul>
                <ol>
                    <a href="#" title=""><img src="__FENXIAO__jfsd/images/pic6.jpg" alt=""></a>
                </ol>
                <ul class="fix" id="item-lists">
                </ul>
                <dl id="loading">
                    <dt><img src="__FENXIAO__jfsd/images/jiazai.gif" alt=""></dt>
                    <dd>正在加载...</dd>
                </dl>
            </div>
        </section>
        <section class="index_xf auto">
            <ul class="fix">
                <li>
                    <p>
                        <a href="javascript:void(0);" class="showCateName"><img src="__FENXIAO__jfsd/images/bg25.png" alt=""></a>
                    </p>
                    <span><a href="javascript:ShowCateName()" title="">商品分类</a></span>
                </li>
                <li>
                    <p>
                        <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg26.png" alt=""></a>
                    </p>
                    <span><a href="javascript:alert('完事开发中...')" title="">购物车</a></span>
                </li>
                <li>
                    <p>
                        <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg27.png" alt=""></a>
                    </p>
                    <span><a href="javascript:alert('完事开发中...')" title="">论坛</a></span>
                </li>
                <li>
                    <p>
                        <a href="{:U('User/index')}" title=""><img src="__FENXIAO__jfsd/images/bg28.png" alt=""></a>
                    </p>
                    <span><a href="{:U('User/index')}" title="">个人中心</a></span>
                </li>
                <li>
                    <p>
                        <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg29.png" alt=""></a>
                    </p>
                    <span><a href="javascript:alert('完事开发中...')" title="">一元购</a></span>
                </li>
                <li>
                    <p>
                        <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg30.png" alt=""></a>
                    </p>
                    <span><a href="javascript:alert('完事开发中...')" title="">积分商城</a></span>
                </li>
                <li>
                    <p>
                        <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg31.png" alt=""></a>
                    </p>
                    <span><a href="javascript:alert('完事开发中...')" title="">秒杀</a></span>
                </li>
                <li>
                    <p>
                        <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg32.png" alt=""></a>
                    </p>
                    <span><a href="javascript:alert('完事开发中...')" title="">拍卖</a></span>
                </li>
            </ul>
        </section>
        <!---->
        <div id="CateName" class="CateName">
            <div class="Select">
                <div class="Select1">
                    <div class="Select1_Top">
                        <ol class="fix">
                            <input name="keyword" class="wbk" type="text" id="search" placeholder="请输入关键字" />
                        </ol>
                        <ul class="level0">
                            <li data-val="">全部分类</li>
                            <volist name=":C('FX_PRODUCT_CATE')" id="val">
                                <li data-val="{$key}">{$val}</li>
                            </volist>
                        </ul>
                    </div>
                    <div id="Btn" class="Btn" style="display: ">
                        <div>
                            <a href="javascript:void(0);" class="hideCateName left"><span style="color: #FFFFFF">关闭选择</span></a>
                            <a href="javascript:void(0);" class="right selects"><span style="color: #FFFFFF">确定选择</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                $(".showCateName").click(function(){
                    $("#CateName").show().addClass('animation')
                })
                $(".hideCateName").click(function(){
                    $("#CateName").removeClass('animation').hide()
                })
                $(".level0 li").each(function(i){
                    $(this).click(function(){
                        $(".level0 li").removeClass("current")
                        $(this).addClass("current")
                    })
                })
                $(".selects").click(function(){
                    var _keyword = $("input[name=keyword]").val(),
                        _cate = $(".level0 li.current").data('val');
                    if (_keyword == undefined || _keyword == '') {
                        _keyword = 0
                    }
                    if (_cate == null || _cate == '') {
                        _cate = 0
                    }
                    window.location.href = '/Fenxiao/Index/lists/keyword/' + _keyword + '/cate/' + _cate;
                })

            })
	        var _page = 1,
	            _tag = true,
				scrollLoad = function() {
					$.ajax({
						url: '{:U('lists', $souso)}',
						data: {page: _page},
						type: 'post',
						dateType: 'html',
						beforeSend: function(){
							_tag = false;
							$("#loading").show();
						},
						success: function(res) {
							if (res !== '') {
								$("#loading").hide();
								$("#item-lists").append(res);
								_page++;
								_tag = true;
							} else {
								$("#loading").find("dd").html("没有更多数据...");
							}
						},
						error: function() {
							alert('网络异常...')
						}
					})
				}
	    	//首页加载
			scrollLoad();
	    	$(window).scroll(function () {
	    		if (_tag && $(window).scrollTop() >= ($(document).height() - $(window).height()) * 0.99) {
					scrollLoad()
	    		}
	    	});
        </script>
    </body>

</html>
