<!DOCTYPE html>
<html>

    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=640px, user-scalable=no">
        <title>{:C('WEB_SITE_TITLE')}</title>
        <!--[if lt IE 9]>
        <script src="__FENXIAO__jfsd/js/html5shiv.min.js"></script>
        <script src="__FENXIAO__jfsd/js/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="__FENXIAO__jfsd/css/common.css" />
        <link rel="stylesheet" href="__FENXIAO__jfsd/css/style.css" />
        <link rel="stylesheet" href="__FENXIAO__jfsd/css/swiper.min.css" />
        <script src="__FENXIAO__jfsd/js/jquery-1.9.1.min.js"></script>
        <script src="__FENXIAO__jfsd/js/myjs.js"></script>
        <script src="__FENXIAO__jfsd/js/swiper.min.js"></script>
        <script src="__FENXIAO__jfsd/js/jquery.SuperSlide.2.1.1.js"></script>
    </head>

    <body>
        <section class="index_banner auto">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                <volist name=":get_banner(6)" id="val">
                    <div class="swiper-slide">
                        <a href="{$val['url']}"><img src="{:thumb($val['image'], 640, 340)}" width="640" height="340" alt="{$val['title']}"></a>
                    </div>
                </volist>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <script>
                var swiper = new Swiper('.swiper-container', {
                    pagination: '.swiper-pagination',
                    paginationClickable: true,
                    spaceBetween: 30,
                    autoplay: 3000,
                    loop: true,
                });
            </script>
        </section>
        <!--banner end-->
        <section class="index_main auto">
            <div class="index_main_top">
                <div class="index_main_top1">
                    <include file="nav" />
                </div>
                <div class="index_main_top2">
                    <div class="bd fix">
                        <ol class="fix"><img src="__FENXIAO__jfsd/images/bg34.png" alt=""> 聚宝快讯：</ol>
                        <ul class="infoList">
                            <volist name=":get_banner(7)" id="val">
                                <li><a href="{$val['url']}" title="{$val['title']}">{$val['title']}</a></li>
                            </volist>
                        </ul>
                    </div>
                    <div class="bd fix">
                        <ol class="fix"><img src="__FENXIAO__jfsd/images/bg34.png" alt=""> 聚宝快讯：</ol>
                        <ul class="infoList">
                            <volist name=":get_banner(8)" id="val">
                                <li><a href="{$val['url']}" title="{$val['title']}">{$val['title']}</a></li>
                            </volist>
                        </ul>
                    </div>
                    <script type="text/javascript">
                        jQuery(".index_main_top2").slide({
                            mainCell: ".bd ul",
                            autoPlay: true,
                            effect: "leftMarquee",
                            vis: 1,
                            interTime: 50,
                            trigger: "click"
                        });
                    </script>
                </div>
            </div>
            <div class="index_main_bottom">
                <ul class="fix">
                    <volist name="position_list" id="val">
                        <li>
                            <p>
                                <a href="{:U('product', array('id'=>$val['product_id']))}" title=""><img src="{:image($val['thumb'])}" alt=""></a>
                            </p>
                            <span>
                                <a href="{:U('product', array('id'=>$val['product_id']))}" title="{$val['product_name']}">{$val['product_name']}</a>
                                <em class="fix">
                                    <b>￥{$val['xian_price']}</b>
                                    <del>￥{$val['yuan_price']}</del>
                                </em>
                            </span>
                        </li>
                    </volist>
                </ul>
                <ol>
                    <volist name=":get_banner(9)" id="val">
                        <a href="{$val['url']}" title="{$val['title']}"><img src="{:thumb($val['image'], 600, 133)}" alt="{$val['title']}"></a>
                    </volist>
                </ol>
                <ul class="fix" id="item-lists"></ul>
                <dl id="loading">
                    <dt><img src="__FENXIAO__jfsd/images/jiazai.gif" alt=""></dt>
                    <dd>正在加载...</dd>
                </dl>
            </div>
        </section>
        <section class="index_xf auto">
            <include file="nav" />
        </section>
        <!---->
        <div id="CateName" class="CateName">
            <div class="Select">
                <div class="Select1">
                    <div class="Select1_Top">
                        <ol class="fix">
                            <input name="keyword" class="wbk" type="text" id="search" placeholder="请输入关键字" />
                        </ol>
                        <ul class="level0">
                            <li data-val="">全部分类</li>
                            <volist name=":C('FX_PRODUCT_CATE')" id="val">
                                <li data-val="{$key}">{$val}</li>
                            </volist>
                        </ul>
                    </div>
                    <div id="Btn" class="Btn" style="display: ">
                        <div>
                            <a href="javascript:void(0);" class="hideCateName left"><span style="color: #FFFFFF">关闭选择</span></a>
                            <a href="javascript:void(0);" class="right selects"><span style="color: #FFFFFF">确定选择</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                $(".showCateName").click(function(){
                    $("#CateName").show().addClass('animation')
                })
                $(".hideCateName").click(function(){
                    $("#CateName").removeClass('animation').hide()
                })
                $(".level0 li").each(function(i){
                    $(this).click(function(){
                        $(".level0 li").removeClass("current")
                        $(this).addClass("current")
                    })
                })
                $(".selects").click(function(){
                    var _keyword = $("input[name=keyword]").val(),
                        _cate = $(".level0 li.current").data('val');
                    if (_keyword == undefined || _keyword == '') {
                        _keyword = 0
                    }
                    if (_cate == null || _cate == '') {
                        _cate = 0
                    }
                    window.location.href = '/Fenxiao/Index/lists/keyword/' + _keyword + '/cate/' + _cate;
                })

            })
	        var _page = 1,
	            _tag = true,
				scrollLoad = function() {
					$.ajax({
						url: '{:U('lists', $souso)}',
						data: {page: _page},
						type: 'post',
						dateType: 'html',
						beforeSend: function(){
							_tag = false;
							$("#loading").show();
						},
						success: function(res) {
							if (res !== '') {
								$("#loading").hide();
								$("#item-lists").append(res);
								_page++;
								_tag = true;
							} else {
								$("#loading").find("dd").html("没有更多数据...");
							}
						},
						error: function() {
							alert('网络异常...')
						}
					})
				}
	    	//首页加载
			scrollLoad();
	    	$(window).scroll(function () {
	    		if (_tag && $(window).scrollTop() >= ($(document).height() - $(window).height()) * 0.99) {
					scrollLoad()
	    		}
	    	});
        </script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
        <script>
            var _shareInfo = {
                title: '{:C('WEB_SITE_TITLE')}',
                desc: '{:C('WEB_SITE_DESCRIPTION')}',
                imgUrl: '{:C('WEB_SITE_URL')}__FENXIAO__jfsd/images/logo.png',
                link: '{:U('index', array('share_uid'=>$user_info['user_id']))}'
            };
        </script>
        <script>
            wx.config({
                debug: <if condition="C('DEVELOP_MODE') == 1">true<else />false</if>,
                appId: '{$wx_config['appId']}',
                nonceStr: '{$wx_config['nonceStr']}',
                timestamp: '{$wx_config['timestamp']}',
                signature: '{$wx_config['signature']}',
                jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'chooseImage', 'previewImage', 'uploadImage', 'downloadImage', 'openLocation', 'getLocation', 'scanQRCode', 'openProductSpecificView', 'chooseWXPay']
            });
        </script>
        <script>
            wx.ready(function(){
                wx.onMenuShareTimeline({
                    title: _shareInfo.title, // 分享标题
                    link: _shareInfo.link, // 分享链接
                    imgUrl: _shareInfo.imgUrl, // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareAppMessage({
                    title: _shareInfo.title, // 分享标题
                    desc: _shareInfo.desc, // 分享描述
                    link: _shareInfo.link, // 分享链接
                    imgUrl: _shareInfo.imgUrl, // 分享图标
                    type: '', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });

            });
        </script>
    </body>

</html>
