<ul class="fix">
    <li>
        <p>
            <a href="javascript:void(0);" class="showCateName"><img src="__FENXIAO__jfsd/images/bg25.png" alt=""></a>
        </p>
        <span><a href="javascript:void(0);" title="">商品分类</a></span>
    </li>
    <li>
        <p>
            <a href="{:U('Flow/index')}" title=""><img src="__FENXIAO__jfsd/images/bg26.png" alt=""></a>
        </p>
        <span><a href="{:U('Flow/index')}" title="">购物车</a></span>
    </li>
    <li>
        <p>
            <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg27.png" alt=""></a>
        </p>
        <span><a href="javascript:alert('完事开发中...')" title="">论坛</a></span>
    </li>
    <li>
        <p>
            <a href="{:U('User/index')}" title=""><img src="__FENXIAO__jfsd/images/bg28.png" alt=""></a>
        </p>
        <span><a href="{:U('User/index')}" title="">个人中心</a></span>
    </li>
    <li>
        <p>
            <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg29.png" alt=""></a>
        </p>
        <span><a href="javascript:alert('完事开发中...')" title="">一元购</a></span>
    </li>
    <li>
        <p>
            <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg30.png" alt=""></a>
        </p>
        <span><a href="javascript:alert('完事开发中...')" title="">积分商城</a></span>
    </li>
    <li>
        <p>
            <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg31.png" alt=""></a>
        </p>
        <span><a href="javascript:alert('完事开发中...')" title="">秒杀</a></span>
    </li>
    <li>
        <p>
            <a href="javascript:alert('完事开发中...')" title=""><img src="__FENXIAO__jfsd/images/bg32.png" alt=""></a>
        </p>
        <span><a href="javascript:alert('完事开发中...')" title="">拍卖</a></span>
    </li>
</ul>
