<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <title>我的财富</title>
        <link rel="stylesheet" type="text/css" href="__FENXIAO__css/css_count.css">
        <link rel="stylesheet" type="text/css" href="__FENXIAO__css/style_count.css">
    </head>

    <body>
        <div class="navReturn navBox-flex" onclick="history.go(-1);">
            <img class="iosImg" src="__FENXIAO__images/ipon.png">
            <a class="navBox-flex-fr disBef" style="text-align: center; margin-left: -18px;">我的财富</a>
        </div>
        <div class="navTop"></div>
        <div class="navBoscent">
            <a href="javascript:void(0)" class="rows1">
                <div class="wrapper navBox-flex">
                    <span class="text1 navBox-flex-fr nav-box-flex-width">1,累计分销积分</span>
                    <span class="text2">￥{$user_info['fx_inter_lj']}</span>
                    <div class="img">
                        <img class="text3" src="__FENXIAO__images/icom.png">
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="rows1">
                <div class="wrapper navBox-flex">
                    <span class="text1 navBox-flex-fr nav-box-flex-width">2,可用分销积分</span>
                    <span class="text2">￥{$user_info['fx_inter']}</span>
                    <div class="img">
                        <img class="text3" src="__FENXIAO__images/icom.png">
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="rows1">
                <div class="wrapper navBox-flex">
                    <span class="text1 navBox-flex-fr nav-box-flex-width">3,已用分销积分</span>
                    <span class="text2">￥{$user_info['fx_inter_yy']}</span>
                    <div class="img">
                        <img class="text3" src="__FENXIAO__images/icom.png">
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="rows1">
                <div class="wrapper navBox-flex">
                    <span class="text1 navBox-flex-fr nav-box-flex-width">4,累计分销资金</span>
                    <span class="text2">￥{$user_info['fx_count']}</span>
                    <div class="img">
                        <img class="text3" src="__FENXIAO__images/icom.png">
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="rows1">
                <div class="wrapper navBox-flex">
                    <span class="text1 navBox-flex-fr nav-box-flex-width">5,我的资金</span>
                    <span class="text2">￥{$user_info['fx_money']}</span>
                    <div class="img">
                        <img class="text3" src="__FENXIAO__images/icom.png">
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="rows1">
                <div class="wrapper navBox-flex">
                    <span class="text1 navBox-flex-fr nav-box-flex-width">6,累计红包总数</span>
                    <span class="text2">￥{$user_info['fx_hb_yl_s'] + $user_info['fx_hb_wl_s']}</span>
                    <div class="img">
                        <img class="text3" src="__FENXIAO__images/icom.png">
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="rows1">
                <div class="wrapper navBox-flex">
                    <span class="text1 navBox-flex-fr nav-box-flex-width">7,已领红包数</span>
                    <span class="text2">￥{$user_info['fx_hb_yl_s']}</span>
                    <div class="img">
                        <img class="text3" src="__FENXIAO__images/icom.png">
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="rows1">
                <div class="wrapper navBox-flex">
                    <span class="text1 navBox-flex-fr nav-box-flex-width">8,未领红包数</span>
                    <span class="text2">￥{$user_info['fx_hb_wl_s']}</span>
                    <div class="img">
                        <img class="text3" src="__FENXIAO__images/icom.png">
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="rows1">
                <div class="wrapper navBox-flex">
                    <span class="text1 navBox-flex-fr nav-box-flex-width">9,总消费累计</span>
                    <span class="text2">￥{$user_info['fx_hb_zxf_lj']}</span>
                    <div class="img">
                        <img class="text3" src="__FENXIAO__images/icom.png">
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="rows1">
                <div class="wrapper navBox-flex">
                    <span class="text1 navBox-flex-fr nav-box-flex-width">10,已领取红包消费累计</span>
                    <span class="text2">￥{$user_info['fx_hb_ylqxf_lj']}</span>
                    <div class="img">
                        <img class="text3" src="__FENXIAO__images/icom.png">
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="rows1">
                <div class="wrapper navBox-flex">
                    <span class="text1 navBox-flex-fr nav-box-flex-width">11,未领取红包消费累计</span>
                    <span class="text2">￥{$user_info['fx_hb_wlqxf_lj']}</span>
                    <div class="img">
                        <img class="text3" src="__FENXIAO__images/icom.png">
                    </div>
                </div>
            </a>
        </div>
    </body>

</html>
