<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=640px, user-scalable=no">
    <title>个人中心</title>
    <!--[if lt IE 9]>
    <script src="__FENXIAO__jfsd/js/html5shiv.min.js"></script>
    <script src="__FENXIAO__jfsd/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="__FENXIAO__jfsd/css/common.css" />
    <link rel="stylesheet" href="__FENXIAO__jfsd/css/style.css" />
    <script src="__FENXIAO__jfsd/js/jquery-1.9.1.min.js"></script>
    <script src="__FENXIAO__jfsd/js/myjs.js"></script>
</head>
<body>
<!-- <header class="grzx_header auto">个人中心<a href="javascript:history.go(-1);" title="">< 返回</a></header> -->
<!--header end-->
<section class="grzx_main auto">
    <div class="grzx_main_top">
        <dl class="fix">
            <dt>
                <p>
                    <img src="{$user_info['user_avatar']}" alt="">
					<em><a href="#" title=""><img src="__FENXIAO__jfsd/images/bg2.png" alt=""></a></em>
                </p>
                <span><a href="#" title="">{:get_fx_group($user_info['fx_group'], 'name')}</a></span>
            </dt>
            <dd>
                会员ID ：{$user_info['user_id']}<br />
                昵称 ：{$user_info['user_name']}<br />
                推荐人：<?php echo empty($user_info['fx_sup'])?'中华聚宝':get_shop_info($user_info['user_avatar'])?>
                <a href="#" title=""><img src="__FENXIAO__jfsd/images/bg3.png" alt=""></a>
            </dd>
        </dl>
        <ul class="fix">
            <li><a href="#" title="">
                <img src="__FENXIAO__jfsd/images/bg4.png" alt="">
                <span>佣金：{$user_info['fx_money']}</span>
            </a></li>
            <li><a href="#" title="">
                <img src="__FENXIAO__jfsd/images/bg5.png" alt="">
                <span>积分：{$user_info['fx_inter']}</span>
            </a></li>
            <li><a href="#" title="">
                <img src="__FENXIAO__jfsd/images/bg6.png" alt="">
                <span>返利红包：{$user_info['fx_hb_wl_s']}</span>
            </a></li>
        </ul>
    </div>
    <div class="grzx_main_bottom">
        <ul class="fix">
            <li>
                <a href="#" title="">
                    <img src="__FENXIAO__jfsd/images/bg11.png" alt="">
                    <span>我的分销</span>
                </a>
            </li>
            <li>
                <a href="{:U('caifu')}" title="">
                    <img src="__FENXIAO__jfsd/images/bg12.png" alt="">
                    <span>我的财富</span>
                </a>
            </li>
            <li>
                <a href="{:U('zhuanbi')}" title="">
                    <img src="__FENXIAO__jfsd/images/bg13.png" alt="">
                    <span>转币管理</span>
                </a>
            </li>
            <li>
                <a href="#" title="">
                    <img src="__FENXIAO__jfsd/images/bg14.png" alt="">
                    <span>我的收藏</span>
                </a>
            </li>
            <li>
                <a href="#" title="">
                    <img src="__FENXIAO__jfsd/images/bg15.png" alt="">
                    <span>我的提现</span>
                </a>
            </li>
            <li>
                <a href="#" title="">
                    <img src="__FENXIAO__jfsd/images/bg16.png" alt="">
                    <span>充值</span>
                </a>
            </li>
            <li>
                <a href="{:U('Index/tuiguang')}" title="">
                    <img src="__FENXIAO__jfsd/images/bg17.png" alt="">
                    <span>二维码</span>
                </a>
            </li>
            <li>
                <a href="{:U('Index/ranking')}" title="">
                    <img src="__FENXIAO__jfsd/images/bg18.png" alt="">
                    <span>排行榜</span>
                </a>
            </li>
            <li>
                <a href="#" title="">
                    <img src="__FENXIAO__jfsd/images/bg19.png" alt="">
                    <span>积分商城</span>
                </a>
            </li>
            <li>
                <a href="#" title="">
                    <img src="__FENXIAO__jfsd/images/bg20.png" alt="">
                    <span>一元购</span>
                </a>
            </li>
            <li>
                <a href="#" title="">
                    <img src="__FENXIAO__jfsd/images/bg21.png" alt="">
                    <span>秒杀现场</span>
                </a>
            </li>
            <li>
                <a href="#" title="">
                    <img src="__FENXIAO__jfsd/images/bg22.png" alt="">
                    <span>论坛</span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!---->
<footer class="dbnr_main auto">
    <ul class="fix">
        <li>
            <a href="{:U('Index/index')}" title="">
                <img src="__FENXIAO__jfsd/images/bg7.png" alt="">
                <span>聚宝商城</span>
            </a>
        </li>
        <li>
            <a href="#" title="">
                <img src="__FENXIAO__jfsd/images/bg8.png" alt="">
                <span>我的订单</span>
            </a>
        </li>
        <li>
            <a href="#" title="">
                <img src="__FENXIAO__jfsd/images/bg9.png" alt="">
                <span>购物车</span>
            </a>
        </li>
        <li>
            <a href="{:U('User/index')}" title="">
                <img src="__FENXIAO__jfsd/images/bg10.png" alt="">
                <span>个人中心</span>
            </a>
        </li>
    </ul>
</footer>
<!--footer end-->
</body>
</html>
