body {
    background: #E8E8E8
}
.BG {
    background: #E8E8E8
}
.MoreDiv {
    height: 60px;
    line-height: 60px;
    font-family: "宋体" !important;
    width: 100%;
    padding: 0px !important;
    text-align: center;
    margin: 0px;
    overflow: hidden;
    font-style: italic;
}
.LoadWait {
    padding: 50px;
    text-align: center;
}

/*网站顶部*/

.HomeTopTitle {
    height: 4rem;
    background: #F03791;
    box-shadow: inset 0 0 2.5rem #DE1175;
    line-height: 4rem;
    overflow: hidden;
}
.HomeTopTitle span {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 10px;
}
.HomeTopTitle label {
    color: #FFFFFF;
    font-size: 1.4rem;
    float: right;
    margin-right: 10px;
}
.HomeTopTitle .AgentPIC {
    float: left;
    width: 3.6rem;
    height: 3.6rem;
    background-size: auto 100%;
    margin-top: 2px;
    margin-left: 3px;
}
.TopTitle {
    height: 4rem;
    background: #F03791;
    box-shadow: inset 0 0 2.5rem #DE1175;
    line-height: 4rem;
    overflow: hidden;
    text-align: center;
}
.TopTitle span {
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 10px;
}
.TopTitle label {
    color: #FFFFFF;
    font-size: 1.6rem;
}
.TopTitle .Detailed {}
.TopTitle .return {
    float: left;
    width: 60px;
    display: block;
    background-image: url(http://milaijia.tyr88.com/Mall/Shop/Skin/Skin1/Images/return.png);
    height: 100%;
    background-size: auto 22px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.TopTitle .SMenu {
    display: block;
    background-image: url(http://milaijia.tyr88.com/Mall/Shop/Skin/Skin1/Images/Menu.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 22px;
    height: 100%;
    width: 40px;
    float: right
}
.TopTitle .CarA {
    color: #333333 !important;
    letter-spacing: 7px;
    font-size: 1.4rem !important;
}
.TopTitle .Mlist {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 120px;
    border: 1px #D9D9D9 solid;
    background-color: rgba(255, 255, 255, 0.9);
    height: 188px;
    z-index: 10000;
}
.TopTitle .Mlist li {
    height: 30px;
    overflow: hidden;
    border-bottom: 1px #E8E8E8 solid;
    margin: 0px 5px 0px 5px;
}
.TopTitle .Mlist .end {
    border-bottom: 0px
}
.TopTitle .Mlist li a {
    height: 30px;
    display: block;
    line-height: 35px;
    overflow: hidden;
    color: #333333;
}

/*网站底部*/

.Footer {
    margin: 0px 10px 0px 10px;
    border-top: 1px #CDCDCD solid;
    text-align: center;
    font-size: 1.2rem;
    color: #8C8C8C;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*首页滚动图片高度*/

.RollIMG {
    height: 150px;
}

/*首页分类导航*/

.TopDH {
    height: 3.8rem;
    background: #E7E7E7;
    width: 100%;
    overflow: hidden;
}
.TopDH ul {
    width: 100%;
    height: 3.6rem !important;
    border-bottom: 1px #C7C7C7 solid;
}
.TopDH li {
    float: left;
    color: #555555;
    font-size: 1.5rem;
    text-align: center;
    height: 100%;
    line-height: 4rem;
}
.TopDH .current {
    color: #F02387;
    position: relative;
    background: #EDEDED;
}
.TopDH .current span {
    border-bottom: 0.1rem #F02387 solid;
    position: absolute;
    bottom: 1px;
    left: 0px;
    width: 100%;
    height: 0px;
}
.TopDHFloat {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000
}

/*浮动*/


/*首面快捷图标*/

#Entrance {
    width: 100%;
}
.Entrance {
    overflow: hidden;
    height: 75px;
    padding-top: 8px;
    background: #FFFFFF
}
.Entrance p {
    font-size: 1.2rem;
    display: block;
    position: absolute;
    height: 30px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    width: 100%;
    line-height: 30px;
    color: #808095
}
.Entrance li {
    height: 75px;
    text-align: center;
    display: table-cell;
    width: 1%;
}

/*width:25%;float:left;*/

.Entrance a {
    width: 50px;
    height: 100%;
    text-align: center;
    display: block;
    background-image: url(http://milaijia.tyr88.com/Mall/Shop/Skin/Skin1/Images/Entrance.png);
    background-repeat: no-repeat !important;
    margin: 0px auto 0px auto;
    position: relative
}
.Entrance .Search {
    background-position: 0px 0px !important;
    background-size: auto 50px;
}
.Entrance .ShowClass {
    background-position: -150px 0px !important;
    background-size: auto 50px;
}
.Entrance .Cart {
    background-position: -50px 0px !important;
    background-size: auto 50px;
}
.Entrance .User {
    background-position: -100px 0px !important;
    background-size: auto 50px;
}
#Key {
    text-indent: 10px;
}

/*首页产品列表*/

.DefaultProduct {
    width: 100%;
    margin: 0px auto 0px auto;
    min-width: 300px;
}

/* 一行二个产品*/

.DefaultProduct .OneRow {
    margin: 10px 10px 15px 10px;
}

/*height:280px;*/

.DefaultProduct .OneRow .Left {
    width: 50%;
    float: left;
    height: 100%;
    position: relative
}
.DefaultProduct .OneRow .Right {
    width: 50%;
    float: right;
    height: 100%;
    position: relative
}
.DefaultProduct .OneRow .Left .P {
    position: absolute;
    left: 0px;
    right: 3px;
    top: 0px;
    height: 100%;
    background: #FFFFFF;
}
.DefaultProduct .OneRow .Right .P {
    position: absolute;
    left: 3px;
    right: 0px;
    top: 0px;
    height: 100%;
    background: #FFFFFF;
}
.DefaultProduct .OneRow .P .IMG {
    background-position: top center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin: 8px 8px 0px 8px
}

/*height:200px;*/

.DefaultProduct .OneRow .P .Title {
    height: 32px;
    padding: 18px 8px 0px 8px;
    font-size: 1.4rem;
    overflow: hidden
}
.DefaultProduct .OneRow .P .Price {
    height: 24px;
    padding: 6px 8px 0px 8px;
    font-size: 1.2rem;
    text-indent: 2.5rem;
    background-image: url(http://milaijia.tyr88.com/Mall/Shop/Skin/Skin1/Images/Price.png);
    background-repeat: no-repeat !important;
    background-size: auto 20px;
    background-position: 8px 3px;
}
.DefaultProduct .OneRow .P .Price span {
    font-size: 1.4rem;
    color: #FF664A
}
.DefaultProduct .OneRow .P .Price label {
    font-size: 1.2rem;
    color: #9C9C9C;
    text-decoration: line-through;
    float: right;
    display:
}

/*一行一个产品*/

.DefaultProduct .OneRow2 {
    margin: 10px 10px 15px 10px;
    background: #FFFFFF;
    padding: 8px;
}

/*height:220px;*/

.DefaultProduct .OneRow2 .P .IMG {
    background-position: top center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

/*height:160px;*/

.DefaultProduct .OneRow2 .P .Title {
    height: 18px;
    padding: 15px 8px 0px 0px;
    font-size: 1.4rem;
    overflow: hidden
}
.DefaultProduct .OneRow2 .P .Price {
    height: 20px;
    padding: 11px 8px 0px 8px;
    font-size: 1.2rem;
    text-indent: 1.8rem;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/Price.png);
    background-repeat: no-repeat !important;
    background-size: auto 20px;
    background-position: 0px 8px;
}
.DefaultProduct .OneRow2 .P .Price span {
    font-size: 1.4rem;
    color: #FF664A
}
.DefaultProduct .OneRow2 .P .Price label {
    font-size: 1.2rem;
    color: #9C9C9C;
    text-decoration: line-through;
    float: right;
}
.Nothrough label {
    text-decoration: none !important;
}
.CateShow {
    margin-top: 10px;
    background: #F5F5F5
}

/*.CateShow .P { background:#F5F5F5 !important;}*/

.CateShow .OneRow2 {
    background: #F5F5F5 !important;
}
.CateDH {
    height: 32px;
    line-height: 32px;
    background: #F5F5F5 !important;
}
.CateDH label {
    display: block;
    float: left;
    height: 100%;
    text-indent: 10px;
    font-size: 16px !important;
    font-weight: 600 !important;
    overflow: hidden
}
.CateDH a {
    display: block;
    float: right;
    height: 100%;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px
}
.CateDH font {
    font-family: "宋体" !important;
    font-size: 16px !important
}

/*产品详情*/

.Shadow1 {
    box-shadow: 0 0 1.5rem #E0E0E0;
    margin: 0px 8px 0px 8px;
    height: 150px;
}
.RollIMG2.Shadow1.PaddingHeight {
    margin: 0;
}
.ProductInfo {
    margin: 0px 8px 0px 8px;
    background: #FFFFFF;
    padding-bottom: 20px;
}
.ProductTitle {
    padding: 20px 8px 8px 8px;
    font-size: 1.6rem !important;
    line-height: 25px;
}
.ProductPrice {
    padding: 10px 8px 8px 8px;
    font-size: 1.6rem !important;
    line-height: 20px;
    position: relative;
    overflow: hidden;
}
.ProductPrice span {
    color: #FF0000;
    font-size: 2rem;
    margin-right: 15px;
}
.ProductPrice label {
    color: #B4B4B4;
    font-size: 1.4rem;
}
.ProductPrice label .font {
    font-size: 1.4rem;
    text-decoration: line-through;
}
.ProductPrice .collect0 {
    display: block;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/collect0.png);
    background-repeat: no-repeat !important;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 65px;
    height: 19px;
    text-indent: 23px;
    line-height: 22px
}
.ProductPrice .collect1 {
    display: block;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/collect1.png);
    background-repeat: no-repeat !important;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 65px;
    height: 19px;
    ;
    text-indent: 23px;
    line-height: 22px
}
.SetCount {
    height: 30px;
    padding-left: 8px;
}
.SetCount dd {
    display: block;
    height: 100%;
    width: 60px;
    text-align: center;
    float: left;
    background: #E8E8E8;
    line-height: 30px;
}
.SetCount span {
    display: block;
    height: 100%;
    width: 60px;
    text-align: center;
    float: left;
    background: #F7F7F7;
    line-height: 30px;
}
.SetCount label {
    display: block;
    height: 100%;
    width: 60px;
    text-align: center;
    float: left;
    background: #E8E8E8;
    line-height: 30px;
}
.SetCount .stock {
    margin-left: 20px;
    float: left;
    height: 100%;
    line-height: 30px;
    color: #B4B4B4
}
.ToBuyBorder {
    border-top: 1px #F5F5F5 solid;
    clear: both;
    height: 1px;
}
.ToBuy {
    height: 32px;
    padding-top: 20px;
    margin: 0px 8px 0px 8px;
}
.ToBuy div {
    height: 100%;
    line-height: 32px;
    margin: 0px auto 0px auto;
    width: 100%;
}
.ToBuy .L {
    float: left;
    height: 100%;
    display: block;
    text-align: center;
    background: #6DB248;
    color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 0.5rem #CCCCCC;
    margin-left: 10px;
    min-width: 125px;
}
.ToBuy .R {
    float: right;
    height: 100%;
    display: block;
    text-align: center;
    background: #FF6666;
    color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 0.5rem #CCCCCC;
    margin-right: 10px;
    min-width: 125px;
}
.PInfo {
    margin: 20px 8px 0px 8px;
    background: #FFFFFF;
    min-height: 300px;
}
.ProductDetailed {
    height: 3.5rem;
    position: relative;
    border-bottom: 1px #D1D1D1 solid;
    width: 100%;
    background: #F0F0F0;
}
.ProductDetailed ul {
    height: 100%;
    width: 100%;
}
.ProductDetailed li {
    float: left;
    height: 100%;
    color: #555555;
    font-size: 1.4rem;
    width: 33%;
    text-align: center;
    line-height: 4rem;
}
.ProductDetailed .current {
    color: #F02387;
    position: relative;
    background: #ffffff;
    width: 34%
}
.ProductDetailed .current span {
    border-bottom: 0.1rem #F02387 solid;
    position: absolute;
    bottom: -1px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 0px;
}
.circle {
    height: 20px;
    margin: -5px 8px 0px 8px;
    clear: both;
    background: #FFFFFF;
    border-radius: 5px;
}
.PInfo .Content {
    padding: 12px 8px 8px 8px;
}
.ShowIMG {
    max-width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.Car {
    width: 55px;
    height: 55px;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/Car.png);
    background-repeat: no-repeat;
    position: fixed;
    left: 15px;
    bottom: 15px;
    background-size: 55px auto
}
.Car2 {
    width: 55px;
    height: 55px;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/Car.png);
    background-repeat: no-repeat;
    position: fixed;
    left: 15px;
    bottom: 67px;
    background-size: 55px auto
}
.FixedBuy {
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 32px;
    width: 100%;
    box-shadow: inset 0 0 0.5rem #BFBFBF;
    padding: 10px 0px 10px 0px;
}
.FixedBuy div {
    height: 100%;
    line-height: 32px;
    margin: 0px auto 0px auto;
    width: 100%;
}
.FixedBuy .L {
    float: left;
    height: 100%;
    display: block;
    text-align: center;
    background: #6DB248;
    color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 0.5rem #CCCCCC;
    margin-left: 26px;
    min-width: 125px;
}
.FixedBuy .R {
    float: right;
    height: 100%;
    display: block;
    text-align: center;
    background: #FF6666;
    color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 0.5rem #CCCCCC;
    margin-right: 26px;
    min-width: 125px;
}

/*评论*/

.MComment {
    padding-top: 10px;
    background: #FFFFFF
}
.MComment .OneRow {
    position: relative
}
.MComment .OneRow .left {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 60px;
}
.MComment .OneRow .left .PIC {
    height: 43px;
    width: 43px;
}
.MComment .OneRow .left .PIC img {
    width: 100%;
    height: 100%;
}
.MComment .OneRow .right {
    margin-left: 65px;
    line-height: 18px;
    margin-right: 8px;
}
.MComment .split {
    border-bottom: 1px #EBEBEB solid;
    margin: 8px 8px 15px 8px;
    height: 1px;
}
.MComment .OneRow .right .Time {
    font-size: 1.2rem;
    color: #B3B3B3
}
.MComment .OneRow .right .Content {
    padding-top: 5px;
    color: #757575 !important;
}

/*购物车*/

.CartList {
    margin: 0px 8px 0px 8px;
    height: 100%;
    overflow: hidden
}
.CartList .OneRow {
    width: 100%;
    height: 120px;
    margin: 8px 0px 0px 0px;
    background: #FFFFFF;
    overflow: hidden;
    position: relative
}
.CartList .OneRow .Left {
    width: 120px;
    height: 100%;
    float: left;
    position: relative;
}
.CartList .OneRow .Left .IMG {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-position: top center;
    background-size: auto 110px;
}
.CartList .OneRow .Right {
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 125px;
    top: 0px;
    float: left;
    right: 0px;
}
.CartList .OneRow .Right .Title {
    padding: 10px 30px 5px 0px;
    font-size: 1.4rem;
    overflow: hidden;
    height: 15px;
}
.CartList .OneRow .Right .Price {
    font-size: 1.2rem;
    position: relative;
    padding-top: 10px;
}
.CartList .OneRow .Right .Price font {
    color: #FF0000
}
.CartList .OneRow .Right .Price span {}
.CartList .OneRow .Right .Price label {
    position: absolute;
    top: 10px;
    right: 0px;
    display: block;
    width: 100px;
    height: 20px;
    text-align: left;
}
.CartList .OneRow .Right .AddCount {
    padding-top: 15px;
    height: 26px;
}
.CartList .OneRow .Right .AddCount div {
    height: 26px;
    width: 150px;
    overflow: hidden
}
.CartList .OneRow .Right .AddCount dd {
    display: block;
    height: 100%;
    width: 26px;
    text-align: center;
    float: left;
    background: #6DB248;
    line-height: 26px;
    color: #FFFFFF;
    border-radius: 15px;
}
.CartList .OneRow .Right .AddCount span {
    display: block;
    height: 100%;
    width: 50px;
    text-align: center;
    float: left;
    background: #EFEFEF;
    line-height: 28px;
    margin: 0px 8px 0px 8px;
    border-radius: 3px
}
.CartList .OneRow .Right .AddCount label {
    display: block;
    height: 100%;
    width: 26px;
    text-align: center;
    float: left;
    background: #FF6666;
    line-height: 26px;
    color: #FFFFFF;
    border-radius: 15px
}
.CarBottom {
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    box-shadow: inset 0 0 0.5rem #BFBFBF;
}
.CarBottom span {
    display: block;
    height: 100%;
    line-height: 50px;
    float: left;
    padding-left: 10px;
    font-size: 1.4rem;
}
.CarBottom span label {
    color: #FF0000;
    font-size: 1.8rem;
}
.CarBottom a {
    float: right;
    height: 30px;
    line-height: 30px;
    display: block;
    width: 100px;
    text-align: center;
    background: #FF6666;
    color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 0.5rem #CCCCCC;
    margin-right: 10px;
    margin-top: 11px;
}
.close {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 2rem;
    color: #CCCCCC;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}
.AddCountShow {
    width: 50px;
    text-align: center;
    float: left;
    margin: 0 8px;
    height: 16px;
    font-size: 1.4rem;
    border: 1px #858585 solid
}

/*空的购物车*/

.CartNull {}
.CartNull .CartNullBG {
    width: 100%;
    height: 160px;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/CartNull.png);
    background-position: center 45px;
    background-repeat: no-repeat;
    background-size: auto 90px;
}
.CartNull .Text {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 1.6rem;
    color: #898989;
    font-style: italic;
}
.CartNull .ToGG {
    line-height: 30px;
    height: 30px;
    width: 250px;
    margin: 30px auto 0px auto;
    text-align: center;
    background: #6DB248;
    color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 0.5rem #CCCCCC;
}
.CartNull .ToGG a {
    display: block;
    width: 100%;
    height: 100%;
}
.CartNull .ToGG span {
    color: #FFFFFF;
    font-size: 1.4rem;
    font-style: italic;
}

/*收货地址列表*/

.AddressList {
    margin: 15px 8px 8px 8px;
}
.AddressList .OneRow {
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    line-height: 20px;
    padding: 15px 10px 8px 10px;
    margin-bottom: 15px;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/AddressBG.jpg);
    background-repeat: repeat-x;
    background-size: auto 4px;
    position: relative
}
.AddressList .OneRow label {
    margin-left: 20px;
}
.AddressList .OneRow .Do {
    height: 20px;
    position: relative;
}
.AddressList .OneRow .Do span {
    color: #808080
}
.AddressList .OneRow .icon7 {
    position: absolute;
    top: 0px;
    right: 60px;
    display: block;
    width: 50px;
    height: 100%;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/icon7.png);
    background-repeat: no-repeat;
    background-position: left 3px;
    background-size: 10px 12px;
    text-indent: 12px;
}
.AddressList .OneRow .icon8 {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 50px;
    height: 100%;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/icon8.png);
    background-repeat: no-repeat;
    background-position: left 2px;
    background-size: 10px 14px;
    text-indent: 13px;
}
.AddressList .OneRow .Address {
    padding-bottom: 8px;
    padding-top: 5px;
    color: #808080
}
.AddressList .OneRow .Split {
    border-top: 1px #E6E6E6 dotted;
    clear: both;
    clear: both;
    height: 10px;
}
.AddressList input {
    position: absolute;
    top: 10px;
    right: 10px;
}
.AddressBottom {
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    box-shadow: inset 0 0 0.5rem #BFBFBF;
}
.AddressBottom span {
    display: block;
    height: 100%;
    line-height: 50px;
    float: left;
    padding-left: 10px;
    font-size: 1.4rem;
}
.AddressBottom span label {
    color: #FF0000;
    font-size: 1.8rem;
}
.AddressBottom a {
    float: right;
    height: 30px;
    line-height: 30px;
    display: block;
    width: 120px;
    text-align: center;
    background: #6DB248;
    color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 0.5rem #CCCCCC;
    margin-right: 10px;
    margin-top: 11px;
}

/*新增收货地址*/

.AddressAddInfo {
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    overflow: hidden;
}
.AddressAddInfo .Title {
    color: #858585;
    font-size: 1.4rem;
    padding: 8px 0px 5px 8px;
}
.AddressAddInfo .DetailedAddress {
    padding: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
}
.AddressAddInfo .RowDiv {
    position: relative;
    overflow: hidden;
    border-bottom: 1px #E0E0E0 solid;
    height: 40px;
    line-height: 40px;
}
.AddressAddInfo .RowDiv .left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65px;
    height: 100%;
    text-align: right;
    padding-right: 5px;
    color: #858585;
    font-size: 1.4rem;
}
.AddressAddInfo .RowDiv .right {
    margin-left: 60px;
    height: 100%;
}
.AddressAddInfo .RowDiv .right input {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}
.AddAddress {
    width: 100%;
    display: block;
    text-align: center;
    background: #6DB248;
    color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 0.5rem #CCCCCC;
    padding: 10px 0;
    font-size: 1.4rem;
    overflow: hidden;
}
.AddAddress span {
    color: #FFFFFF;
    font-size: 1.4rem;
}

/*订单确认*/

.OrderForm {
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    overflow: hidden;
}
.OrderForm .Top {
    background: #F5F5F5;
    height: 32px;
    box-shadow: inset 0 0 0.5rem #E6E6E6;
    line-height: 32px;
}
.OrderForm .Top .icon1 {
    display: block;
    width: 25px;
    height: 100%;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/icon1.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 14px;
    float: left
}
.OrderForm .Top .icon2 {
    display: block;
    width: 25px;
    height: 100%;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/icon2.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 16px;
    float: left
}
.OrderForm .Top .icon3 {
    display: block;
    width: 25px;
    height: 100%;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/icon3.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 14px;
    float: left
}
.OrderForm .Top label {
    margin-left: 5px;
    color: #333333;
    line-height: 35px;
    font-size: 1.4rem;
}
.OrderForm .Info {
    padding: 8px;
    line-height: 20px;
    color: #808080;
    overflow: hidden;
}
.OrderForm .Info .ArrowRight {
    position: absolute;
    top: 0px;
    right: 6px;
    display: block;
    float: right;
    height: 100%;
    width: 20px;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/icon4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 12px;
}
.OrderForm .Time .ArrowDown {
    position: absolute;
    top: 22px;
    right: 8px;
    display: block;
    float: right;
    height: 30px;
    width: 20px;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/icon5.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 12px auto;
}
.OrderForm .Time .ArrowUp {
    position: absolute;
    top: 22px;
    right: 8px;
    display: block;
    float: right;
    height: 30px;
    width: 20px;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/icon6.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 12px auto;
}
.OrderForm .Split {
    border-top: 1px #EDEDED solid;
    clear: both;
}
.OrderForm .Split2 {
    border-top: 1px #E6E6E6 dotted;
    clear: both;
}
.OrderForm .Time {
    height: 35px;
    padding: 8px;
    line-height: 35px;
    color: #808080
}
.OrderForm .TimeType {
    color: #B3B3B3;
    margin-top: -6px;
}
.OrderForm .TimeType input {
    position: absolute;
    top: 8px;
    left: 8px;
}
.OrderForm .TimeType label {
    height: 100%;
    display: block;
    margin-left: 10px;
    text-indent: 20px;
}
.OrderForm .TimeType li {
    height: 38px;
    line-height: 38px;
    text-indent: 30px;
    position: relative;
}
.OrderForm .Pay {
    height: 40px;
    line-height: 40px;
    position: relative;
}
.OrderForm .Pay .Pay5 {
    background-image: url(/Mall/Shop/Skin/Skin1/Images/Pay0.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 24px
}
.OrderForm .Pay .Pay2, .OrderForm .Pay .Pay8, .OrderForm .Pay .Pay11 {
    background-image: url(/Mall/Shop/Skin/Skin1/Images/Pay1.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 24px
}
.OrderForm .Pay .Pay3 {
    background-image: url(/Mall/Shop/Skin/Skin1/Images/Pay2.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 24px
}
.OrderForm .Pay .Pay7 {
    background-image: url(/Mall/Shop/Skin/Skin1/Images/Pay3.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 24px
}
.OrderForm .Pay .Pay6 {
    background-image: url(/Mall/Shop/Skin/Skin1/Images/Pay6.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 23px
}
.OrderForm .Pay input {
    position: absolute;
    top: 10px;
    left: 8px;
}
.OrderForm .Pay label {
    height: 100%;
    display: block;
    margin-left: 35px;
    text-indent: 32px;
    color: #808080
}

/*新增收货地址*/

.ShopSet {
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    overflow: hidden;
    color: #858585;
}
.ShopSet .RowDiv {
    overflow: hidden;
    border-bottom: 1px #E0E0E0 solid;
    height: 50px;
    padding: 10px;
}
.ShopSet .RowDiv .Two {
    position: relative;
    overflow: hidden;
    height: 28px;
}
.ShopSet .RowDiv .left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 95px;
    height: 100%;
    text-align: right;
    padding-right: 5px;
    color: #858585;
    font-size: 1.4rem;
}
.ShopSet .RowDiv .right {
    margin-left: 100px;
    height: 19px;
    text-align: right;
    background-image: url(/Mall/Shop/Skin/Skin1/Images/icon4.png);
    background-repeat: no-repeat;
    background-position: right 12px;
    background-size: auto 12px;
    padding-right: 18px;
    line-height: 20px;
    padding-top: 9px;
}
.ShopSet .RowDiv .Title {
    height: 22px;
    border-bottom: 1px #E8E8E8 solid;
}
.ShopSet .RowDiv input {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 25px;
    border: 0px;
    padding-top: 5px;
}
.ShopSet .Set {}
.ToSave {
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #6DB248;
    color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 0.5rem #CCCCCC;
    position: fixed;
    left: 8px;
    bottom: 8px;
    right: 8px;
}
.ToSave a {
    display: block;
    height: 100%;
    width: 100%;
}
.ToSave a span {
    color: #FFFFFF;
    font-size: 1.4rem;
}
.Search {
    position: relative;
    height: 30px;
    margin: 10px;
    border-radius: 2px;
    overflow: hidden
}
.Search .right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 1.4rem;
    background: #EC2B80;
    line-height: 30px;
    box-shadow: inset 0 0 1rem #EB1471;
}
.Search .left {
    margin-right: 80px;
    height: 100%;
}
.Search .left input {
    margin-right: 80px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}
.ShareInfo {
    height: 43px;
    background-color: #56A98C;
    box-shadow: inset 0 0 0.5rem #4D997E;
    position: relative;
    overflow: hidden
}
.ShareInfo a {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 75px;
    text-align: center;
    height: 100%;
    line-height: 43px;
    background-color: rgba(0, 0, 0, 0.1);
}
.ShareInfo a:link, .ShareInfo a:visited {
    color: #FFFFFF !important;
}
.ShareInfo a span {
    color: #FFFFFF !important;
}
.ShareInfo .IMG {
    height: 36px;
    width: 36px;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px 36px;
    border-radius: 20px !important;
    overflow: hidden;
    margin: 4px 0px 0px 8px;
}
.ShareInfo .Info {
    float: left;
    padding-left: 10px;
    color: #FFFFFF;
}
.ShareInfo .Info span {
    display: block;
    font-size: 1.4rem;
    height: 25px;
    line-height: 28px;
    overflow: hidden;
}
.ShareInfo .Info label {
    display: block;
    font-size: 1.2rem;
    padding-top: 0px;
    margin-top: 0px
}
.AutoGetUserInfo {}
.AutoGetUserInfo span {}
.outBox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100000
}
.out {
    width: 90%;
    height: 205px;
    background: #fff;
    margin: 0 5%;
    margin-top: 10%;
    position: relative;
}
.outTop {
    background: #72c71c;
    color: #fff;
    height: 30px;
    padding: 5px;
    position: relative;
}
.touXiang {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    left: 10px;
    top: 5px;
    background: #fff;
    overflow: hidden
}
.touXiang img {
    width: 100%;
}
.share {
    margin-left: 40px
}
.share h1 {
    font-size: 16px;
    font-weight: 600;
}
.share p {
    font-size: 10px;
    line-height: 9px;
}
.outMid {
    text-align: center;
    line-height: 100px;
    width: 100%;
    height: 100px;
}
.outMid p {
    font-size: 18px;
    color: #4f4f4f;
}
.outBot {
    height: 60px;
    text-align: center;
    position: relative;
    padding: 0 6%
}
.outBot a {
    background: #d4d4d4;
    display: block;
    width: 44%;
    margin: 0 3%;
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
}
a.yes {
    background: #ff398e;
}
.close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url(/Mall/Shop/Skin/Skin1/Images/close.png) no-repeat center center;
    background-size: 15px 15px;
}
.close a {
    display: block;
    width: 100%;
    height: 100%;
}
.OrderForm .Pay .Pay9 {
    background-image: url(/Mall/Shop/Skin/Skin1/Images/Pay9.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 24px
}
